<!DOCTYPE html>
<html>
  <head>
    <title>AcheComercios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="top">

      <h1>NÃO SABE ONDE ENCONTRAR DETERMINADO PRODUTO/SERVIÇO?</h1>
    
    </div>
  <p>Baixe nosso app e tenha facilidade, agilidade e eficiência na busca.</p>
  </body>
</html>
